node_modules/
dist/
dist-ssr/
.env
.env.local
.env.*.local
*.log
.DS_Store
.idea/
.vscode/
*.tsbuildinfo
coverage/

# umi 4 / @umijs/max 生成
src/.umi/
src/.umi-test/
src/.umi-production/
.umirc.local.ts
